##############
# FILESYSTEM #
##############
.DS_Store

##################################
# LATEX TEMPORARY FILES AND LOGS #
##################################
*.aux
*.fdb_latex
*.fdb_latexmk
*.log
*.synctex.gz

##########
# BIBTEX #
##########
*.bbl
*.blg
*.bcf
*.run.xml

###############
# BUILD FILES #
###############

example-latex-usage/example-format-for-cv.pdf
example-latex-usage/check-bib-file.pdf

#################
# PROJ-SPECIFIC #
#################

mcminn.mod.bib
